.main-container{
    /* border: 2px solid red; */
    min-height: 99.3vh;
    /* position: relative; */
    /* width: 100vw; */
    /* margin-left: 3rem; */
    font-family: poppins;
    display: flex;
}

.right-container{
    /* border: 2px solid green; */
    flex: 11;
    margin: 2.5rem 2rem;
}
