.table-section{
    /* border:1px solid red; */
    max-height: calc(100vh - 17rem);
    overflow: hidden;
    overflow-y: scroll;
}
#users {
    /* font-family: Arial, Helvetica, sans-serif; */
    border-collapse: collapse;
    width: 100%;
  }
  
  #users td, #users th {
    border-bottom: 1px solid #ddd;
    padding: 5px;
  }
  #users th {
    padding-top: 12px;
    position: sticky;
    top: 0;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f5f5f5;
  }

  .td-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
  }
  .td-risk{
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: .5rem;
  }
  .color-green{
    color: green;
  }
  .color-red{
    color: red;
  }
  .color-yellow{
    color: rgba(168, 168, 40, 0.938);
  }